.hero {
  height: 100vh; /* ocupa a tela toda */
  background-image: url('../../../assets/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.hero button {
  margin-top: 230px;
  padding: 14px 100px;

  background: #f59e0b;
  border: none;
  border-radius: 12px;

  font-weight: 600;

  cursor: pointer;
}

.cta {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  padding: 40px 20px;
}

.cta h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  max-width: 600px;
}

.cta button {
  background: #38bdf8;
  color: #0f172a;

  border: none;
  padding: 14px 28px;
  font-size: 1rem;
  font-weight: 600;

  border-radius: 12px;
  cursor: pointer;

  transition: all 0.3s ease;
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.3);
}

.cta button:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(56, 189, 248, 0.4);
}

/* SECTIONS */
.section {
  max-width: 900px;
  margin: 80px auto;
  text-align: center;
}

/* STEPS */
.steps {
  display: flex;
  justify-content: center;
  gap: 25px;

  flex-wrap: wrap;
  background-image: url('../../../assets/steps.png');
  background-size: 200px;

  padding: 80px 20px;

  max-width: 1100px;

  margin: auto;
}

/* CARD */
.step-card {
  background: white;
  width: 280px;
  border-radius: 18px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: 0.3s ease;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 120px;
  padding-top: 160px;
}

/* HOVER */
.step-card:hover {
  transform: translateY(-8px);
}
/* IMAGEM */
.step-card img {
  width: 250px;

  height: 250px;

  object-fit: contain;

  margin-bottom: 15px;

  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.steps div {
  margin: 10px 0;
  padding: 12px;
  background: #f8fafc;
  border-radius: 10px;
}

/*MAP*/

.map-section {
  text-align: center;
  padding: 80px 20px;
  max-width: 1000px;
  margin: auto;
}

.map-section h2 {
  font-size: 30px;
  font-weight: 700;
  color: #0f172a;
}

.map-section p {
  color: #64748b;
  margin-bottom: 40px;
}

/* MAPA */
.map-container {
  position: relative;

  height: 450px;

  background-image: url("../../../assets/europe-map.png");


  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 18px;

  box-shadow: 0 10px 40px rgba(0,0,0,0.08);
}

/* BOTÕES PAÍSES */
.country {
  position: absolute;

  padding: 12px 16px;

  border: none;

  border-radius: 14px;

  background: white;

  font-weight: 600;

  font-size: 14px;

  cursor: pointer;

  box-shadow: 0 8px 20px rgba(0,0,0,0.15);

  transition: all 0.25s ease;

  transform: translate(-50%, -50%);
}

/* HOVER PREMIUM */
.country:hover {
  transform: translate(-50%, -50%) scale(1.08);
  background: #0f172a;
  color: white;
}

/* POSIÇÕES */

.brazil {
  top: 61%;
  left: 36%;
  color: #1e3a8a;
}

.portugal {
  top: 35%;
  left: 43%;
  color: #065f46;
}

.france {
  top: 25%;
  left: 52%;
  color: #1e40af;
}
